/*<----------force update---------->*/
/*<-#-#-#-#-#BASE STYLES#-#-#-#-#->*/

/*INFO*/
/*This style sheet includes styles used by every main page*/
/*Effects homepage, drinks page, ingredients page, drink profiles, bio and sitemap*/
/*This site can scale to a minimum of 275px*/

/*<----------Largest Containers---------->*/

html {
    overflow: hidden;
    height: 100%;
	font-family: arial;
}

body {
	margin: 0px;
	padding: 0px;
	background: url("cansBackgroundImage.png");
	background-repeat: repeat;
	background-size: 250px;
	background-attachment: fixed;
    height: 100%;
    overflow: auto;
}

div.centerContain {
	width: 900px;
	margin: 0px auto;
	background-color: #8d8d8d;
	background: linear-gradient(#dfdfdf,#6a6a6a);
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
	z-index: -99;
}

main {
	width: 90%;
	margin: 20px 5% 20px 5%;
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}

/*<----------Logo Header---------->*/

header {
	width: 900px;
	margin: 0px auto;
}

img.logoLandscape {
	display: block;
	width: 100%;
	margin: 2% 0% 2% 0%;
}

img.logoPortrait {
	display: none;
	width: 100%;
	margin: 4% 0% 4% 0%;
}

/*<----------Top Navbar---------->*/

nav {
	position: sticky;
	width: 100%;
	height: 40px;
	background-color: #9a0000;
	padding: 0px;
	margin: 0px;
	margin-top: -3px;
	top: -1px;
	overflow: hidden;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
	z-index: 10;
}

ul.navList {
	list-style-type: none;
	font-size: 1rem;
	width: 90%;
	height: 100%;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0px;
	text-align: center;
}

/*<--Left and Right Buttons on Top Navbar (and Navbar Titles)-->*/

li.navButtonLeft {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 100%;
	border-left: solid black 1px;
}

li.navTitle {
	margin: 0px;
	margin-right: -5%;
	padding: 10px 10px 0px 10px;
	height: 100%;
	border-left: solid black 1px;
	border-right: solid black 1px;
	display: inline-block;
	background-color: white;
	font-weight: bold;
	font-size: 1.2rem;
}

li.navButtonRight {
	margin: 0px;
	padding: 0px;
	float: right;
	height: 100%;
	border-left: solid black 1px;
}

/*<--Addition of Right Side Borders-->*/

#fixBorders {
	border-right: solid black 1px;
}

/*<--Links for Active/Current Page-->*/

a.navActive {
	background-color: white;
	color: black;
	display: block;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px 10px 0px 10px;
	height: 100%;
}

/*<--Links to Other Pages-->*/

a.navLink:link, a.navLink:visited {
	color: white;
	display: block;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	padding: 10px 10px 0px 10px;
	height: 100%;
	position: inherit;
}

a.navLink:hover {
	color: white;
	background-color: #434343;
	transition: 0.7s;
}

a.navLink:active {
	color: black;
	background-color: white;
	transition: 0s;
}

/*<----------Social Media Links---------->*/
/*<--Link State Changes-->*/

a.fa:link, a.fa:visited {
	text-decoration: none;
	display: block;
	color: white;
	height: 100%;
	padding: 10px 10px 0px 10px;
}

a.fa:hover {
	color: #434343;
	transition: 0.7s;
}

a.fa:active {
	color: black;
	transition: 0s;
}

/*<--Bottom Social Media Links-->*/

div.socialMedia {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 40px;
    background-color: #8d0000;
	opacity: 0.7;
	display: none;
	overflow: hidden;
	z-index: 10;
}

ul.socialMedia {
	list-style-type: none;
	font-size: 1rem;
	text-align: center;
	margin: 0px auto;
	padding: 0px;
}

li.socialMedia {
	margin: 0px 10% 0px 10%;
	padding: 0px;
	display: hidden;
}

/*<----------Footer---------->*/
/*<--Largest Footer Containers-->*/

div.footer {
	width: 100%;
	margin: 0px;
	background-color: #434343;
	overflow: hidden;
	height: 70px;
	
}

div.footerContents {
	color: white;
	width: 90%;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0px;
}

/*<--Left Side Footer Links-->*/

div.footerLink {
	padding: 0px;
	margin: 0px;
	margin-top: 12px;
	float: left;
	display: block;
	width: 40%;
	height: 40px;
}

ul.footerLink {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	font-size: 0.7rem;
}

li.footerLink {
	margin: 0px;
	margin-right: 10px;
	padding: 0px;
	display: inline-block;
}

/*<--Link State Changes-->*/

a.footerLink:link, a.footerLink:visited {
	margin: 0px;
	padding: 2px 15px 2px 15px;
	color: white;
	text-decoration: none;
	background-color: #434343;
	border: solid black 1px;
}

a.footerLink:hover {
	background-color: #9a0000;
	transition: 0.7s;
}

a.footerLink:active {
	color: black;
	background-color: #9a0000;
	transition: 0s;
}

/*<--Right Side Footer Details-->*/

div.footerDetails {
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	display: inline-block;
	height: 40px;
	width: 40%;
	float: right;
}

ul.footerDetails {
	margin: 0px;
	padding: 0px;
	text-align: right;
	list-style-type: none;
	font-size: 0.7rem;
}

li.footerDetails {
	margin: 0px;
	padding: 0px;
}

/*<----------Back To Top---------->*/
/*<--Back To Top Standard-->*/

div.backToTop {
	position: reletive;
	text-align: center;
	margin: 0px;
	margin-top: 14px;
	padding: 0px;
	height: 30px;
	width: 20%;
	float: left;
	font-size: 0.7rem;
}

a.backToTop:link, a.backToTop:visited {
	text-decoration: none;
	margin: 0px;
	padding: 5px 20px 100px 20px;
	color: white;
	border: solid black 1px;
}

a.backToTop:hover {
	background-color: #9a0000;
	transition: 0.7s;
}

a.backToTop:active {
	color: black;
	transition: 0s;
}

/*<--Back To Top Mobile-->*/

div.backToTopMobile {
	display: none;
	text-align: center;
	width: 90%;
	margin: 0px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #434343;
	overflow: hidden;
}

a.backToTopMobile:link, a.backToTopMobile:visited {
	text-decoration: none;
	margin: 0px;
	margin-top: 16px;
	padding: 0px auto;
	padding-top: 7px;
	padding-bottom: 30px;
	color: white;
	display: block;
	border: solid black 1px;
	font-size: 0.7rem;
}

a.backToTopMobile:hover {
	background-color: #9a0000;
	transition: 0.7s;
}

a.backToTopMobile:active {
	color: black;
	transition: 0s;
}	

/*<----------Media Queries for PC Version---------->*/

/*<--Logo Additional Margin for Scaling-->*/

@media only screen and (max-width:999px){
	header {
		width: 90%;
		margin: 0;
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*<--Logo Landscape to Portrait-->*/

@media only screen and (orientation: portrait) {
	img.logoLandscape {
		display: none;
	}
	
	img.logoPortrait {
		display: block;
	}
}

/*<--Removal of Background at Sides-->*/

@media only screen and (max-width:917px){
	div.centerContain {
		width: 100%;
		margin: 0;
	}
}

/*<--Change to Thinner Footer-->*/

@media only screen and (max-width:599px){
	div.footer {
		height: 100px;
	}	
	
	div.footerLink {
		width: 35%;
	}
	
	li.footerLink {
		display: block;
		margin-bottom: 18px;
	}
	
	div.backToTop {
		display: none;
	}
	
	div.footerDetails {
		width: 65%;
	}
	
	div.backToTopMobile {
		display: block;
	}
}

/*<--Stop Page Shrinking Too Far-->*/

@media only screen and (max-width:438px) {
	header {
		width: 378px;
		margin: 0;
		margin-left: 21px;
		margin-right: 21px;
	}
	
	main {
		width: 378px;
		margin: 20px 21px 20px 21px;
	}
	
	nav {
		width: 420px;
		margin: 0px;
	}
	
	ul.navList {
		width: 378px;
		margin: 0;
		margin-left: 21px;
		margin-right: 21px;
	}
	
	div.footer {
		width: 420px;
		margin: 0;
	}
	
	div.footerContents {
		width: 378px;
		margin: 0;
		margin-left: 21px;
		margin-right: 21px;
	}
	
	div.backToTopMobile {
		width: 378px;
	}
}

/*<----------Media Queries for MOBILE (phone and tablet) Version---------->*/

/*<--Device Pixel Ratio Query for All High DPI Screens-->*/

@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
		   
/*<--Changing Widths to Fill Screen-->*/
/*<--Largest Objects-->*/		   
		   
	body {
		background-size: 300px;
		width: 100%;
	}	
	
	header {
		width: 90%;
		margin: 0;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	div.centerContain {
		width: 100%;
		margin: 0;
	}
	
	main {
		width: 90%;
		margin: 20px 5% 20px 5%;
	}	
	
/*<--Navbar-->*/
	
	nav {
		width: 100%;
		margin: 0px;
	}
	
	ul.navList {
		width: 90%;
		margin: 0;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	li.navTitle {
		margin-right: 0px;
		margin-left: -10%;
	}
	
/*<--Footer-->*/	
	
	div.footer {
		width: 100%;
		margin: 0;
		height: 100px;
	}
	
	div.footerContents {
		width: 90%;
		margin: 0;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	div.footerLink {
		width: 35%;
	}
	
	li.footerLink {
		display: block;
		margin-bottom: 18px;
	}
	
	div.footerDetails {
		width: 65%;
	}
	
/*<--Back to Top-->*/	
	
	div.backToTop {
		display: none;
	}	
	
	div.backToTopMobile {
		width: 90%;
		display: block;
	}
	
/*<--Social Media-->*/
	
	li.navButtonRight {
		display: none;
	}
	
	div.socialMedia {
		display: block;
		width: 100%;
		bottom: -1px;
	}
	
	li.socialMedia {
		display: inline-block;
		position: relative;
		bottom: 5px;
	}
	
	a.fa {
		font-size: 2rem;
	}
	
/*<--Removal of Hover Colour Sticking-->*/

	a.navLink:hover {
		background-color: #9a0000;
	}

	a.fa:hover {
		color: white;
	}
	
	a.footerLink:hover {
		background-color: #434343;
	}
	
	a.backToTopMobile:hover {
		background-color: #434343;
	}

/*<--Addition of Active Properties-->*/

	a.navLink:active {
		background-color: white;
	}

	a.fa:active {
		color: black;
	}
	
	a.footerLink:active {
		background-color: #9a0000;
	}
	
	a.backToTopMobile:active {
		background-color: #9a0000;
	}

/*<--Rules for Smaller Phones-->*/

	@media only screen and (max-width:365px) {
		li.socialMedia {
			margin: 0px 5% 0px 5%;
		}
	
		div.footer {
			height: 124px;
		}
	
		div.footerLink {
			width: 100%;
			height: 20px;
		}
	
		li.footerLink {
			display: inline;
		}	
	
		div.footerDetails {
			width: 100%;
			margin-top: 5px;
		}
	
		a.backToTopMobile:link, a.backToTopMobile:visited {
			margin-top: 16px;
		}
	}
	
	@media only screen and (max-width:320px) {
		li.navTitle {
			float: right;
		}
	}	
}
