/*BASE STYLES*/
/*This style sheet includes styles used by every main page*/
/*Effects homepage, drinks page, ingredients page, drink profiles, bio and sitemap*/

/*##############################################*/

/*2 Largest Containers*/

body {
	margin: 0px;
	padding: 0px;
	background-color: yellow;
}

div.centerContain {
	width: 900px;
	margin: 0px auto;
	background-color: #8d8d8d;
	background: linear-gradient(#dfdfdf,#6a6a6a);
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
}

main {
	width: 90%;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
}

/*##############################################*/

/*Header*/

header {
	width: 900px;
	margin: 0px auto;
}

img.EnergyDrinksRated {
	display: block;
	width: 90%;
	margin: 2% 5% 2% 5%;
}

/*##############################################*/

/*Top Navigation Bar*/

nav {
	position: sticky;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #9a0000;
	padding: 0px;
	margin: 0px;
	margin-top: -1px;
	overflow: hidden;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
}

ul.navList{
	list-style-type: none;
	font-family: arial;
	font-size: 1rem;
	font-weight: bold;
	width: 90%;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0px;
}

li.navButtonLeft{
	margin: 0px;
	margin-left: -1px;
	margin-right: -1px;
	padding: 0px;
	float: left;
	border-left: solid black 2px;
	border-right: solid black 2px;
	height: 100%;
}

li.navButtonRight{
	margin: 0px;
	margin-left: -1px;
	margin-right: -1px;
	padding: 0px;
	float: right;
	border-left: solid black 2px;
	border-right: solid black 2px;
	height: 100%;
}

/*link styles dependent on current page*/

a.navActive {
	background-color: white;
	color: black;
	display: block;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px 10px 0px 10px;
	height: 100%;
}

a.navLink:link, a.navLink:visited {
	color: white;
	display: block;
	list-style-type: none;
	text-decoration: none;
	text-align: center;
	margin: 0px;
	padding: 10px 10px 0px 10px;
	height: 100%;
}

a.navLink:hover {
	color: white;
	background-color: #8d8d8d;
	transition: 0.7s;
}

a.navLink:active {
	color: black;
	background-color: white;
	transition: 0s;
}

/*new social media links*/

a.fa:link, a.fa:visited {
	text-decoration: none;
	display: block;
	color: white;
	height: 100%;
	padding: 10px 10px 0px 10px;
}

a.fa:hover {
	color: #8d8d8d;
	transition: 0.7s;
}

a.fa:active {
	color: black;
	transition: 0s;
}

/*##############################################*/

/*Bottom Social Media*/
/*for mobile and tablet mode only*/

div.socialMedia {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 60px;
    background-color: #9a0000;
	background: linear-gradient(rgba(154,0,0,0),rgba(154,0,0,1));
	display: none;
	overflow: hidden;
}

ul.socialMedia {
	list-style-type: none;
	font-family: arial;
	font-size: 1rem;
	text-align: center;
	margin: 0px auto;
	padding: 0px;
}

li.socialMedia {
	margin: 0px 5% 0px 5%;
	padding: 0px;
	display: hidden;
}

/*##############################################*/

/*Footer*/

div.footer {
	width: 100%;
	margin: 0px;
	background-color: #434343;
	overflow: hidden;
	height: 70px;
}

div.footerContents {
	color: white;
	width: 90%;
	margin: 0;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0px;
	font-family: arial;
}

/*footer links*/

div.footerLink {
	padding: 0px;
	margin: 0px;
	margin-top: 12px;
	float: left;
	position: relative;
	display: block;
	width: 40%;
	height: 40px;
}

ul.footerLink {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	font-size: 0.7rem;
}

li.footerLink {
	margin: 0px;
	margin-right: 20px;
	padding: 0px;
	display: inline-block;
}

a.footerLink:link, a.footerLink:visited {
	margin: 0px;
	padding: 2px 15px 2px 15px;
	color: white;
	text-decoration: none;
	background-color: #434343;
	border: solid black 1px;
}

a.footerLink:hover {
	background-color: #9a0000;
	transition: 0.7s;
	
}

a.footerLink:active {
	color: black;
	background-color: #9a0000;
	transition: 0s;
}

/*back to top*/
/*standard button*/

div.backToTop {
	position: reletive;
	text-align: center;
	margin: 0px;
	margin-top: 14px;
	padding: 0px;
	height: 30px;
	width: 20%;
	float: left;
	font-size: 0.7rem;
}

a.backToTop:link, a.backToTop:visited {
	text-decoration: none;
	margin: 0px;
	padding: 5px 20px 100px 20px;
	color: white;
	border: solid black 1px;
}

a.backToTop:hover {
	background-color: #9a0000;
	transition: 0.7s;
}

a.backToTop:active {
	color: black;
	transition: 0s;
}

/*mobile button*/

div.backToTopMobile {
	display: none;
	text-align: center;
	width: 90%;
	margin: 0px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #434343;
	overflow: hidden;
	font-family: arial;
}

a.backToTopMobile:link, a.backToTopMobile:visited {
	text-decoration: none;
	margin: 0px;
	margin-top: 16px;
	padding: 0px auto;
	padding-top: 7px;
	padding-bottom: 30px;
	color: white;
	display: block;
	border: solid black 1px;
	font-size: 0.7rem;
}

a.backToTopMobile:hover {
	background-color: #9a0000;
	transition: 0.7s;
}

a.backToTopMobile:active {
	color: black;
	transition: 0s;
}	

/*footer details*/

div.footerDetails {
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	position: relative;
	display: inline-block;
	height: 40px;
	width: 40%;
}

ul.footerDetails {
	margin: 0px;
	padding: 0px;
	text-align: right;
	list-style-type: none;
	font-size: 0.7rem;
}

li.footerDetails {
	margin: 0px;
	padding: 0px;
}

/*##############################################*/

/*Media Query for Scaling Down Header*/

@media screen and (max-width:999px){
	header {
		width: 90%;
		margin: 0;
		margin-left: 5%;
		margin-right: 5%;
	}
}

/*Media Query for Scaling Down Container Contents*/

@media screen and (max-width:917px){
	div.centerContain {
		width: 100%;
		margin: 0;
	}
}

/*Query for moving to more horizontal layout*/

@media screen and (max-width:599px){
	li.navButtonRight {
		display: none;
	}
	
	/*#######*/
	
	div.socialMedia {
		display: block;
	}
	
	li.socialMedia {
		display: inline-block;
	}
	
	a.fa {
		font-size: 3rem;
	}
	
	/*#######*/
	
	div.footer {
		height: 100px;
	}	
	
	div.footerLink {
		width: 35%;
	}
	
	li.footerLink {
		display: block;
		margin-bottom: 18px;
	}
	
	div.backToTop {
		display: none;
	}
	
	div.footerDetails {
		width: 65%;
	}
	
	div.backToTopMobile {
		display: block;
	}	
}

/*Query for stopping the page shrink too far*/

@media screen and (max-width:360px) {
	header {
		width: 324px;
		margin: 0;
		margin-left: 18px;
		margin-right: 18px;
	}
	
	main {
		width: 324px;
		margin: 0;
		margin-left: 18px;
		margin-right: 18px;
	}
	
	nav {
		width: 360px;
		margin: 0px;
	}
	
	ul.navList {
		width: 324px;
		margin: 0;
		margin-left: 18px;
		margin-right: 18px;
	}
	
	div.footer {
		width: 360px;
		margin: 0;
	}
	
	div.footerContents {
		width: 324px;
		margin: 0;
		margin-left: 18px;
		margin-right: 18px;
	}
	
	div.socialMedia {
		width: 360px;
	}
	
	div.backToTopMobile {
		width: 324px;
	}	
}