
/*<-#-#-#-#-#HOME STYLES#-#-#-#-#->*/

/*INFO*/
/*This style sheet includes styles used by the homepage*/

/*<----------Left Container---------->*/

div.leftContent {
	border: solid 1px green;
	float: left;
	width: 65%;
	padding: 0px;
	margin: 0px;
}

/*<--Top Drink-->*/

div.topDrink {
	width: 100%;
	padding: 0px;
	margin: 0px;
}	

h1.topDrink {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	font-size: 1.5rem;
}

p.topDrink {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 55%;
}

div.cardContainer {
	margin: 0px;
	padding: 0px;
	float: left;
}

/*<----------Right Container---------->*/

div.rightContent {
	border: solid blue 1px;
	float: right;
	width: 30%;
	padding: 0px;
	margin: 0px;
	overflow: auto;
}

h1.infoColumn {
	margin: 0px;
	padding: 0px;
	font-size: 1.5rem;
}	

p.infoColumn {
	margin: 0px;
	padding: 0px;
}

/*<----------Media Queries PC Version---------->*/

@media only screen and (max-width:917px){
	p.topDrink {
		width: 40%;
	}
	
@media only screen and (max-width:660px){
	p.topDrink {
		width: 100%;
	}
}

/*<----------Media Queries for MOBILE (phone and tablet) Version---------->*/

/* <--Device Pixel Ratio Query for All High DPI Screens-->*/

@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
		   
/*<--Largest Containers-->*/

	div.leftContent {
		float: left;
		width: 99%;
		margin-bottom: 20px;
	}
		   
	div.rightContent {
		float: left;
		width: 99%;
		margin-bottom: 20px;
	}
	
/*<--Top Drink SHITTY NEEDS IMPROVING WRAP TEXT AROUND DIV IF POSSIBLE-->*/
	
	p.topDrink {
			width: 70%;
		}
	
	@media only screen and (max-width:830px){
		p.topDrink {
			width: 50%;
		}
	}
	@media only screen and (max-width:505px){
		p.topDrink {
			width: 100%;
		}
	}	
}