
/*<-#-#-#-#-#INGREDIENTS STYLES#-#-#-#-#->*/

/*INFO*/
/*This style sheet includes styles used by the ingredients page*/

p.pageDescription {
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

#ingredientInput {
	margin: 0px;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 1.2rem;
	color: black;
	border: solid #9a0000 2px;
	width: 50%;
	min-width: 300px;
}	

#ingredientsTable {
	margin: 0px;
	padding: 0px;
}

/*<----------Media Queries for MOBILE (phone and tablet) Version---------->*/

/*<--Device Pixel Ratio Query for All High DPI Screens-->*/

@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
		   
/*<--all contents-->*/
	#ingredientInput {
		width: 90%;
		min-width: 0px;
	}
}
