body {
	margin: 0px;
}

img.EnergyDrinksRated {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.navBar {
	background-color: #9a0000;
	text-align: center;
	overflow: hidden;
}

/* Styling for Menu Options for Current Page*/

li.navBarCurrent{
	list-style-type: none;
	display: inline-block;
	font-family: arial;
	padding: 10px;
	background-color: white;
}

a.navLinkCurrent:link, a.navLinkCurrent:visited {
	text-decoration: none;
	display: inline-block;
	color: black;       
}

a.navLinkCurrent:hover {
	text-decoration: none;
	display: inline-block;
	color: black;
}

a.navLinkCurrent:active {
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight: bold;
}

/* Styling for Menu Options for Other Pages*/

li.navBarOther {
	list-style-type: none;
	display: inline-block;
	font-family: arial;
	padding: 10px;
}

a.navLinkOther:link, a.navLinkCurrent:visited {
	text-decoration: none;
	display: inline-block;
	color: white
}

a.navLinkOther:hover {
	text-decoration: none;
	display: inline-block;
	background-color: #a48d8d;
}

a.navLinkOther:active {
	text-decoration: none;
	display: inline-block;
	background-color: #a48d8d;
	font-weight: bold;
}