
/*<-#-#-#-#-#SITE MAP STYLES#-#-#-#-#->*/

/*INFO*/
/*This style sheet includes styles used by the site map*/

/*<--Site Map Container-->*/

div.mapContainer {
	border: solid black 2px;
	margin: 0% 20% 0% 20%;
	font-family: arial;
}

/*Main Page Link Styles*/

ul.mainPages {
	list-style-type: none;
}

li.mainPage {
	
}

a.mainPage {
	text-decoration: none;
}

/*Sub Page Link Styles*/

ul.subPages {
	list-style-type: none;
}

li.subPage {
	
}

a.subPage {
	text-decoration: none;
}