/*SITE MAP STYLES*/
/*This style sheet includes styles specific to the navigation of the site map*/

/*##############################################*/

h1.siteMap {
	font-family: arial;
	text-align: center;
}

div.mapContainer {
	border: solid black 2px;
	margin: 0% 20% 0% 20%;
	font-family: arial;
}

/*Main Page Link Styles*/

ul.mainPages {
	list-style-type: none;
}

li.mainPage {
	
}

a.mainPage {
	text-decoration: none;
}

/*Sub Page Link Styles*/

ul.subPages {
	list-style-type: none;
}

li.subPage {
	
}

a.subPage {
	text-decoration: none;
}