/*GENERAL Styles for Page*/

body {
	margin: 0px;
	padding: 0px;
	background-color: #8d8d8d;
    background: linear-gradient(#dfdfdf,#4e4e4e);
}

main {
	margin-left: 5%;
	margin-right: 5%;
}

img.EnergyDrinksRated {
	display: block;
	margin: 0px;
	margin-left: 5%;
}

/*styles for drinks page*/

h1.drinkManufacturer {
	font-family: arial;
	font-size: 1.5em;
}

div.table {
	overflow-x: auto;
}

td {
	font-size: 100%;
	text-align: center;
	font-family: arial;
}

/*MAIN NAV BAR*/
/*styling of navigation bar*/

nav {
	position: sticky;
	top: 0;
	width: 100%;
	background-color: #9a0000;
	padding: 0px;
	margin: 0px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	overflow: hidden;
}

ul.navList{
	list-style-type: none;
	font-family: arial;
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0px;
}

li.navButtonLeft{
	margin: 0px;
	padding: 0px;
	float: left;
}

li.navButtonRight{
	margin: 0px;
	padding: 0px;
	float: right;
}

/*styling of current page nav link*/

a.navActive {
	background-color: white;
	color: black;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

/*styling of the other nav links to the rest of the pages*/

a.navLink:link, a.navLink:visited {
	color: white;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

a.navLink:hover {
	color: white;
	background-color: gray;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

a.navLink:active {
	color: black;
	background-color: white;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

/*Social Media*/

div.socialMedia {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9a0000;
    text-align: center;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}

ul.socialMedia {
	list-style-type: none;
	font-family: arial;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

li.socialMedia {
	margin: 0px;
	padding: 0px;
	display: inline;
}

a.socialMedia:link, a.socialMedia:visited {
	color: white;
	display: inline;
	list-style-type: none;
	text-decoration: none;
	margin: 3%;
	padding: 5px;
}

a.socialMedia:hover {
	color: black;
	display: inline;
	list-style-type: none;
	text-decoration: none;
	margin: 3%;
	padding: 5px;
}

a.socialMedia:active {
	color: black;
	display: inline;
	list-style-type: none;
	text-decoration: none;
	margin: 3%;
	padding: 5px;
}

/*Footer*/

div.footer {
	background-color: #343434;
	color: white;
	font-family: arial;
}

ul.footerLink {
	margin: 0px;
	margin-left: 5%;
	list-style-type: none;
}

ul.footerDetails {
	margin: 0px;
	margin-left: 5%;
	list-style-type: none;
}
