/*GENERAL Styles for Page*/

body {
	margin: 0px;
	padding: 0px;
	background: gray;
    background: linear-gradient(white,gray);
}

main {
	margin-top: 57px;
	margin-left: 50px;
	margin-right: 50px;
}

img.EnergyDrinksRated {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*styles for drinks page*/

h1.drinkManufacturer {
	font-family: arial;
	font-size: 150%;
}

td {
	font-size: 100%;
	text-align: center;
	font-family: arial;
}

/*MAIN NAV BAR*/
/*styling of navigation bar*/

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #9a0000;
	text-align: center;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

ul.navList{
	float: left;
	list-style-type: none;
	font-family: arial;
	font-size: 200%;
	margin: 0px 0px 0px 50px;
	padding: 0px;
}

li.navButton{
	margin: 0px;
	padding: 0px;
	display: inline;
}

/*styling of current page nav link*/

a.navActive {
	background-color: white;
	color: black;
	display: inline-block;
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

/*styling of the other nav links to the rest of the pages*/

a.navLink:link, a.navLink:visited {
	color: white;
	display: inline-block;
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

a.navLink:hover {
	color: white;
	background-color: gray;
	font-weight: bold;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

a.navLink:active {
	color: black;
	background-color: white;
	display: inline-block;
	font-weight: bold;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

/*Search bar on navigation menu*/

input.searchBar[type=text]{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 50px;
  border: none;
  height: 40px; 
}

/*Social Media Footer*/

div.socialMedia {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9a0000;
    text-align: center;
}

ul.socialMedia {
	list-style-type: none;
	font-family: arial;
	font-size: 200%;
	margin: 0px;
	padding: 0px;
}

li.socialMedia {
	margin: 0px;
	padding: 0px;
	display: inline;
}

a.socialMedia:link, a.socialMedia:visited {
	color: white;
	display: inline;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px 100px;
}

a.socialMedia:hover {
	color: black;
	display: inline-;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px 100px;
}

a.socialMedia:active {
	color: black;
	display: inline;
	list-style-type: none;
	text-decoration: none;
	margin: 0px;
	padding: 0px 100px;
}

